.footerStyle{
    background-image: url('./pattern.png');
    text-align: center;
    padding: 5px;
    height: 80px;
    width: 100%;
}

.vsemDivamDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footerStyle img{
    margin-left: 12px;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 0px;
}
.footerStyle p{
    margin-top: 1%;
    margin-left: 12px;
}